.debug {
  .main-head {
    background-color: red;
    border: 5px dashed #450085;
  }
  .content {
    background-color: orange;
    border: 5px dashed #333333;
  }
  .main-nav {
    background-color: rgb(104, 104, 32);
    border: 5px dashed #009698;
  }
  .side {
    background-color: green;
    border: 5px dashed #8EE4D7 ;
  }
  .ad {
    background-color: #634f18;
    border: 5px dashed blue;
  }
  .main-footer {
    background-color: #4f4834;
    border: 5px dashed #b599ce;
  }
}